Django>=2.2,<3.0
django-environ>=0.4.0,<0.5
django-markdown-deux>=1.0.5,<1.1
django-session-security>=2.6.6,<2.7
django_redis>=4.12,<4.13
djangorestframework>=3.9.4,<3.10
djangorestframework-jwt>=1.5.0,<1.6
dj-static>=0.0.6,<0.1.0
-e git+https://github.com/chop-dbhi/ehb-client.git@dev#egg=ehb-client
-e git+https://github.com/chop-dbhi/ehb-datasources.git@dev#egg=ehb-datasources
ldap3>=2.8,<2.9
psycopg2-binary==2.8.5
python-json-logger==0.1.7
django-admin-tools==0.9.0
django-crispy-forms==1.9.2
requests==2.24.0
gunicorn==20.0.4
