{% extends "base.html" %}
{% load staticfiles %}



{% block head_content %}
<title>Biorepository Portal Login</title>
{% endblock %}

{% block topbar_block %}
<p class="navbar-text">Biorepository Login</p>
{% endblock %}
{% block top_links %}
<li><a id="request-account" href="{% url 'register' %}">Request an Account<br></a></li>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-md-12">
    <h1 style="color:#747474">
      <center> The Biorepository Portal Project </center>
    </h1>
  </div>
</div>
<div class="login-box auth0-box before">
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>

  <a href="{% url 'password_reset' %}">Forgot Password?</a>

  <center><button type="submit" class="btn-primary">Login</button></center>
  <center><a href="{% url 'register' %}">New here? Create an account</a></center>
</div>
<div class="col-md-12">
  <div>
    <center>
      <a href="http://dbhi.chop.edu">
        <img class="dbhi-logo" src="{% static "img/CHOPDepartmentLogo.png" %}" />
      </a>
      {% if is_IE %}
      <div class="alert alert-danger" role="alert">
        Internet Explorer is not Supported. Please use Chrome or Firefox
      </div>
      {% endif %}
    </center>
  </div>
</div>



<script>
  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }
</script>
{% endblock %}
