{% extends "base.html" %}
{% load staticfiles %}

{% block topbar_block %}
<p class="navbar-text">Biorepository Portal Password Reset</p>
{% endblock %}

{% block top_links %}
    <li><a href="{% url 'login' %}">return to login page</href></a></li>
{% endblock %}



{% block head_content %}
<title>Biorepository Portal Password Reset</title>
{% endblock %}


{% block main_content %}
<div class="container">
  <h2><center> For Chop Employees </center></h2>

  <p> Please remember to use your CHOP credentials.
      If you contine to have issues please call the CHOP IS help desk at 215-590-4357
      or reset your CHOP password
      <a href="https://forgotpassword.chop.edu">here.</a>
      If you have exceeded maximum log-in attempts, after resetting your CHOP password, e-mail EIGsupport@email.chop.edu.
  </p>

  <h2><center> For Non Chop Employees </center></h2>
  <p> In order to reset your CHOP password, call the CHOP IS help desk at 215-590-4357 and state that you are a CHOP research collaborator.
    If you have exceeded maximum log-in attempts, after resetting your CHOP credentials, e-mail EIGsupport@email.chop.edu.
  </p>
</div>
{% endblock %}
