{% extends "base.html" %}
{% load staticfiles %}

{% block topbar_block %}
<p class="navbar-text">Biorepository Portal Password Reset</p>
{% endblock %}

{% block top_links %}
    <li><a href="{% url 'login' %}">return to login page</href></a></li>
{% endblock %}



{% block head_content %}
<title>Biorepository Portal Password Reset</title>
{% endblock %}


{% block main_content %}
<div class="container">

  <p> 1. Please remember to use your CHOP credentials. </p>
  <p> 2. If you continue to have issues please call the CHOP IS help desk at 215-590-4357 to have your password reset. If you are a CHOP employee you can reset your password <a href="https://forgotpassword.chop.edu">here.</a></p>
  <p> 3. If you exceeded the maximum log-in attempts, please make sure you have completed step 2 then contact EIGsupport@email.chop.edu.</p>

</div>
{% endblock %}
